body {
    background-image: url('bg1.jpg') ;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

#clear_area_button {
    background-color: lightgreen;
    color: white;
    font-size: 18px;
    float: none;
}

canvas {
    background-color: white;
    border-width: 1;
    border-style: dashed;
    border-radius: 15px;
}